.marco {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%; 
    border: rgb(228, 122, 122) 10px solid;
    background-color: #e47a7a;
    padding: 15px;
    border-radius: 20px;
  }
  .marco .caja {
    background-color: #e8c48f;
    width: 24%;
    padding-bottom: 20px;
    text-align: center;
    border: rgb(228, 122, 122) 1.5px solid;
    font-size:40px;
    font-weight:bold;
    border-radius: 10px;
    
    
  
  }
  .marco .blanco {
    background-color: rgb(228, 122, 122);
   
  }
  .reset {
    padding: 20px 75px;
    border-radius: 200px;
    order: 20;
    margin-top: 50px;
    margin-left: 15%;
  }
  footer {
    padding: 0px;
    float: bottom;
  }
  footer div {
   
   
    position: relative;
    padding: 25px 0px 0px 0px;
    top: 30px;
  }
  footer div p {
    text-align: center;
    position: relative;
    top: -10px;
    color: #000;
  }
  footer div p .br {
    display: block;
    margin-top: 10px;
  }
  body {
    background-color: beige
  
  }
  h1{
    text-align: center;
    margin-bottom: 35px;
  }
  .texto{
    display: flex;
    margin-left: 10%;
  } 
  .record{
    margin-right: 15%;
  }