<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="main">
    <!-- Ahora se muestra primero inicioa -->
    <input type="checkbox" id="chk" aria-hidden="true" checked>
    <div class="signup">
      <form method="POST" action="/registrar"> <!-- Agrega method y action -->
          <!-- Mensajes flash aquí -->

        <label for="chk" aria-hidden="true">Crear cuenta</label>
        <input type="text" name="Usuario" placeholder="Usuario" required>
        <input type="email" name="email" placeholder="Correo electrónico" required>
        <input type="password" name="pswd" placeholder="Contraseña" required>
        <button type="submit">Crear cuenta</button> <!-- Agrega type y cambia el botón a type="submit" -->
      </form>
      <div class="messages-signup">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li class="{{ message.category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="login">
      <form method="POST" action="/iniciar_sesion"> <!-- Agrega method y action para iniciar sesión -->
        <label for="chk" aria-hidden="true">Iniciar sesión</label>
        <input type="text" name="Usuario" placeholder="Usuario" required>
        <input type="password" name="pswd" placeholder="Contraseña" required>
        <button type="submit">Iniciar sesión</button> <!-- Agrega type y cambia el botón a type="submit" -->
      </form>

      <!-- Agrega un div para mostrar mensajes -->
      <div class="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
</body>
</html>
