@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  display: flex;
  height: 100px;
  width: 100%;
  background: #002B7A;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #D59F0F;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: white;
}
nav .menu-btn i{
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 100px;
    left: -100%;
    background: #D59F0F;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s ;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: red;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: ;
}
.content div{
  position: absolute;
  font-size: 80px;
  font-weight: 700;
}
.primera{
    position: absolute;
    top: 15%;
    z-index: -1;
    padding: 0 0px;
}
.expuno{
    color: blue;
}
section{
  border-bottom: #D59F0F;
  border-radius: 4px;
}
.fondo {
  /* Elimina la propiedad 'position: fixed;' */
  z-index: -1;
  background-color: #D59F0F;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Estilos para el carrusel */
.carousel {
  display: flex;
  overflow: hidden;
  height: 900px; /* Establece la altura deseada para el carrusel */
}

.carousel img {
  width: 100%;
  height: 100%; /* Establece la altura deseada para las imágenes */
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor sin deformarla */
  object-position: center top; /* Ajusta la posición de la imagen si es necesario */
  transition: opacity 1s;
  display: none;

}

.carousel img.active {
  display: block;
}

/* Estilos para la sección de visión */
.vision {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* Agregar bordes redondeados */
}

.vision h2 {
  font-size: 28px;
  color: #002B7A;
}

.vision p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

/* Estilos para el footer */
.footer {
    background-color: #002B7A;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin: 5px 0;
}

.footer p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.footer p:last-child {
    font-size: 14px;
}

.footer a {
    color: white;
    text-decoration: none;
}